/*
 * spa.shell.css
 * Your CSS
 */

.container:not(#top-navbar) {
  position : relative;  
  background-color : orange;
}

/*#top-navbar {
  background-color: transparent;
}*/

.submit {
  padding : 1em;
}

li:hover {
  background-color : #080808;
}

@media (max-width:768px) {
  .container:not(#top-navbar) {
    position : absolute;
    left : 0;
    right : 0;
    background-color : blue;
  }

  /*#top-navbar {
    background-color: transparent;
  }*/

  #spa {
    position : static;
    min-height : 100%;
    min-width  : 0;

  }
}
